<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">

<%- include("partials/header.ejs", {title:"Home"})%>
  <body>
    <div id="contenido-presentacion" class="dp-flex">
  <div id="texto-presentacion" >
    <h2>Ricardo Rodriguez Buinitzky.</h2>
  <p>Nací en lecheria estado Anzoategui - Venezuela, curse hasta el tercer año de Ingenieria en Sistemas en la Universidad de Oriente, por la situacion de mi país decidí emigrar a Buenos Aires - Argentina,
    donde tuve la oportunidad de estudiar lo que en verdad me apasiona, la programacion.</p>  
    
  <p>Pude ampliar mis conocimientos sobre dicho tema estudiando programacion web en Plataforma5, realizando un curso Front end, utilizando html, css, JS, bootstrap, Jquery.</p>
  <p>Luego estudie en Digital House, haciendo un curso de programacion web Full Stack usando Node Js en la parte de Back End.</p>  
</div>
    <img src="../images/Presentacion.jpg" alt="" srcset="">
  </div>

    
  </body>
</html>
