<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/header.ejs",{title:"fotos"})%>
    <link rel="stylesheet" href="/stylesheets/login.css">
    
</head>
<body>
    
<div class="login-page">
    <h1>Log-in</h1>
    <form>
        <input type="text" name="name" id="" placeholder="Ingresa usuario">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" class="btn">Log-in</button>
    </form>
</div>

</body>
</html>