<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css">


</head>
<body>
    <header>
        <div class="navBarcontainer">
            
        <nav class="navBar">
            <i class="fas fa-bars"></i>
            <li><a href="/">Inicio</a></li>
            <li><a href="/videos">Video</a></li>
            <li><a href="/fotos">Fotos</a></li>
            <li><a href="/register">Registro</a></li>
            <li><a href="">Contacto</a></li>
        </nav>
        <img src="/images/header.jpg" alt="" srcset="">
    </div>
    
    </header>
</body>
</html>
