<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NitzkyTv</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script defer src="/your-path-to-fontawesome/js/brands.js"></script>
    <script defer src="/your-path-to-fontawesome/js/solid.js"></script>
    <script defer src="/your-path-to-fontawesome/js/fontawesome.js"></script>

</head>
<body>
    <header>
        <div class="navBarcontainer">
            <img src="/images/banderaArgentina.jpg" alt="" srcset="">
        <nav class="navBar">
            <i class="fas fa-bars"></i>
            <li><a href="/">Inicio</a></li>
            <li><a href="/videos">Video</a></li>
            <li><a href="/fotos">Fotos</a></li>
            <li><a href="/register">Registro</a></li>
            <li><a href="/login">Login</a></li>

            <li><a href="">Contacto</a></li>
        </nav>
        <img src="/images/banderaVenezuela.jpg" alt="" srcset="">
    </div>
    
    </header>
</body>
</html>
