<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs", {title:"Home"})%>
<link rel="stylesheet" href="/stylesheets/register.css">
<div class="container">

  <div class="inputs">
    <label>Full name</label>
    <input type="text" placeholder="Your name" class="input-field" name="nombre">
    <label>Email Addres</label>
    <input type="email" placeholder="Email" class="input-field" name="email">
    
    
    
    
    <label>Gender</label>
    <div class="radio-btn">
    <label>
      <input type="radio" name="gender" value="male">
      <span class="mark"></span>
      <span class="btn-border"></span>
      Male</label>
      <label >
        <input type="radio" name="gender" value="male">
        <span class="mark"></span>
        <span class="btn-border"></span>
       Female</label>
      </div>

      <label >Date of Birth</label>
      <input type="date" placeholder="" class="input-field" name="fecha">
      <div class="text">
        <input type="checkbox">
        <p>I accept the <a href="#">terms & conditions</a></p>
      </div>
      <div class="btn">
        <button>Create Account</button>
      </div>
</div>
</div>



<script>
window.addEventListener("load", function(){

  let container = document.getElementsByClassName("container");
  let email = document.getElementById("email");
  let password = document.getElementById("password");
  let repassword = document.getElementById("repassword");
  let texto = document.getElementById("text");

  formulario.addEventListener("submit",function(e){
e.preventDefault();
console.log(e);

password.addEventListener("keyup",function(){
  if(password.value.length < 6 || password.value.length == 0){
  password.style.borderColor ="red";
  console.log(password.value);
}
else{
  password.style.borderColor ="blue";
}



})

 




  })








});

</script>


</html>