<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs",{title:"videos"})%>
<link rel="stylesheet" href="/stylesheets/videos.css">

<body>
<div class="videosContainer">
    <h2>Matando un team completo</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/foifBOqlayI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="VideoDuty" allowfullscreen>
    </iframe>
    <p>Saliendo del gulag, sin nada matando a un equipo de malos</p>
</div>

<script>
    fetch("https://api.giphy.com/v1/gifs/random?api_key=6LXyAqanDaaINX7EPYsXQs4339M7FIgX&tag=1&rating=g")
    .then(response =>{
        response.json()
    })
    .then(information =>{
        console.log(information);
    })

</script>
</body>
</html>