h1{
    text-align: center;
}


.dp-flex{
display: flex;
}

img{
    height: 350px;
    width: 350px;
}
.TodasLasFotos{
    flex-direction: column;
    margin-top: 1%;
    padding: 1%;
   }

.centrar{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 

